.quote-div {
  background-color: #a7bdbe;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.quote {
  color: #042324;
  width: 900px;
  padding-top: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: 20px;
}

.author {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #083d3f;
}
